<div id="pagination">
  {{#prev}}
  {{#isLink}}<a href="?offset=0">{{/isLink}}
    <div class="butt" {{#isJS}}onclick="{{isJS}}(0)"{{/isJS}}>
      Start
    </div>
  {{#isLink}}</a>{{/isLink}}
  {{#isLink}}<a href="?offset={{prev}}">{{/isLink}}
  <div class="butt" {{#isJS}}onclick="{{isJS}}({{prev}})"{{/isJS}}>
    Prev
  </div>
  {{#isLink}}</a>{{/isLink}}
  {{/prev}}
  {{#next}}
  {{#isLink}}<a href="?offset={{next}}">{{/isLink}}
  <div class="butt" {{#isJS}}onclick="{{isJS}}({{next}})"{{/isJS}}>
    Next
  </div>
  {{#isLink}}</a>{{/isLink}}
  {{/next}}
</div>