{{#posts}}
<a href="/{{short_id}}">
  <div class="post">
    <div id="title">
      {{preview.title}}
    </div>
    {{#preview.image_url}}
    <div id="cover" style="background-image: url({{preview.image_url}})"></div>
    {{/preview.image_url}}
    <div id="description">
      {{preview.description}}
    </div>
    <div id="widgets">
      <div id="views" class="widget">
        <img src="/images/view-100-black.png" night-src="/images/view-100-white.png" class="img-nm" />
        <span>{{preview.views}}</span>
      </div>
      <div id="rate-up" class="widget right">
        <img src="/images/up-filled-100-black.png" night-src="/images/up-filled-100-white.png" class="img-nm" />
        <span>{{votes.up}}</span>
      </div>
      <div id="rate-down" class="widget right">
        <img src="/images/down-filled-100-black.png" night-src="/images/down-arrow-filled-100-white.png" class="img-nm" />
        <span>{{votes.down}}</span>
      </div>
    </div>
  </div>
</a>
{{/posts}}