{{#list}}
<div class="item">
  {{#textPhoto}}
  <div id="text-photo">{{textPhoto}}</div>
  {{/textPhoto}}
  {{#uPhoto}}
  <div id="user-photo" style="background-image: url({{uPhoto}})"></div>
  {{/uPhoto}}
  <div id="right">
    <div id="name">{{first_name}} {{last_name}}</div>
    <div id="manage">
      {{#me}}
      <a href="#" onclick="return CStudio.deleteMember({{id}});">Leave</a>
      {{/me}}
      {{#isAdmin}}
      <a href="#" onclick="return CStudio.deleteMember({{id}});">Delete</a>
      {{/isAdmin}}
    </div>
  </div>
</div>
{{/list}}