{{{ header }}}

<div class="table center-content main-container" id="home-content">
  <div class="td">
    <div id="case">
      <img src="/images/icons8-gas-100-red.png" id="case-img" />
      <span id="case-title">Trending</span>
      <div id="right-icons">
        {{#isTelegramID}}
        <a href="/tune" id="tune-elem">
          <div class="item">
            <img src="/images/settings-filled-500-black.png" night-src="/images/settings-filled-500-white.png" class="img-nm" />
            <span>Tune</span>
          </div>
        </a>
        {{/isTelegramID}}
        <a href="/" id="trending-elem">
          <div class="item">
            <img src="/images/icons8-gas-100-red.png" />
            <span>Go to Trending</span>
          </div>
        </a>
      </div>
    </div>

    <div id="content">
      <div id="list">
        {{{posts}}}
      </div>
      <div id="pagination-box">
        {{{pagination}}}
      </div>
    </div>
  </div>

  {{#isTrending}}
  <div class="td" id="td-hash-tags-box">
    <div id="hash-tags-box">
      <div id="title">
        #Trends
      </div>
      <div id="list">
        {{#tags}}
        <div class="tag" onclick="Search.go({tags: '{{tag}}'})">{{tag}}</div>
        {{/tags}}
      </div>
    </div>
    <div id="latest-posts">
      <div id="title">
        Latest
      </div>
      {{#isTelegramID}}
      <div id="paste-telegraph">
        <input type="text" placeholder="Paste telegra.ph" onblur="this.placeholder='Paste telegra.ph'" onfocus="this.placeholder='Paste & Press Enter';" onchange="Search.goToPage(this.value);" />
      </div>
      {{/isTelegramID}}
      <div id="list">
        {{{latest}}}
      </div>
    </div>
  </div>
  {{/isTrending}}
</div>

<div class="center-content" id="home-footer">
  <div id="lf">
      <div class="tit">
        DTP
      </div>
      <div class="desc">
        Platform and toolkit for authors of publications in Telegraph.
      </div>
  </div>

  <a href="/about">About</a>
  <a href="/blog">Blog</a>
  <span class="point">•</span>
  <a href="/contacts">Contact us</a>
</div>

<div id="popup-box">
  {{{ popup_studio_landing }}}
  {{{ popup_search_input }}}
</div>