<div id="creative-studio-page">
  <div id="header-cs">
    <div class="button">
      <a href="/">
        <img src="/images/icons8-gas-100-red.png" />
      </a>
    </div>
    <div id="text-butt">
      {{#photo}}
        <div id="user-photo" style="background-image: url({{photo}})"></div>
      {{/photo}}
      {{#symbolPhoto}}
        <div id="user-symbol-photo"><span>{{symbolPhoto}}</span></div>
      {{/symbolPhoto}}

      <div id="username" class="butt">
        {{first_name}}
      </div>

      <a href="/logout" onclick="CStudio.logoutConfirm(window.event);">
        <div class="butt" id="logout">
          Log out
        </div>
      </a>
    </div>
  </div>
  <div id="table-cs">
    <div id="menu">
      <div class="li system" onclick="CStudio.getPostsByAccount({{user_id}}, '{{first_name}}');">
        <span>
          Posted by {{first_name}}
        </span>
      </div>
      <div id="dinamyc-component">

      </div>
      <div class="li system" onclick="CStudio.openAccountManager({{user_id}});">
        <span>
          <img src="/images/settings-filled-500-black.png" />
        </span>
      </div>
    </div>
    <div id="cs-content">
      <div id="account-title">
        <div id="data"></div>
      </div>
      <div id="cpanel">
        <div id="content-manager">
          <div id="from-telegraph-check">
            <div class="ui-text-switcher" save-value="true" id="posts-source-switcher" x-change="CStudio.setSourceTelegraph">
              <div class="butt active" data="dtp">DTP</div>
              <div class="butt" data="telegraph">Telegraph</div>
            </div>
          </div>
          <div id="right">
              <a href="#" target="_blank" id="login-telegraph-link">New Post</a>
          </div>
        </div>
        <div id="search-box" onclick="$('#post-search').focus();">
          <img src="/images/search-filled-500-black.png" id="search-img" />
          <input type="text" id="post-search" onchange="CStudio.getPosts(this.value);" placeholder="Search for post" />
        </div>
      </div>
      <div id="list">
        <h2 class="to-select">
          <img src="/images/31dc2dbb6902dcef78.gif" />
          <div id="title">Select group account to display posts</div>
          <div id="text">
            A group account will help teams work on publications together without any problems.
          </div>
        </h2>
      </div>
      <div id="pagination-box"></div>
    </div>
  </div>
</div>

{{{popup_publish_post}}}
{{{popup_accounts_manager}}}
{{{popup_account_members}}}
{{{popup_account_info}}}
{{{popup_import_telegraph}}}
{{{popup_author_url}}}