<div class="popup-window" id="popup-account-members">
  <div id="shadow" onclick="Popup.close('popup-account-members')"></div>
  <div id="box">
    <h2 id="title">Members</h2>
    <div id="list">
    </div>
    <input type="text" id="account-invite" />
    <button id="invite" onclick="CStudio.getNewInvite();">Get invite</button>
    <button id="edit" onclick="CStudio.openEditAccount();">Edit account</button>

  </div>
</div>