<div class="popup-window" id="popup-accounts-manager">
  <div id="shadow" onclick="Popup.close()"></div>
  <div id="box">
    <h2 id="title">Manage accounts</h2>
    <div id="list">
      
    </div>
    <button id="create" onclick="CStudio.openCreateAccount();">Create</button>
  </div>
</div>