<div class="popup-window" id="popup-import-telegraph">
  <div id="shadow" onclick="Popup.close('popup-import-telegraph')"></div>
  <div id="box">
    <h2 id="title">Transfer Telegraph account</h2>
    <div id="cover">
      <img src="/images/tl_card_powerful.gif" />
    </div>
    <div id="description">
      Secure transfer of management the account to us. Follow the following recommendation:
    </div>
    <div id="script">
      <ul>
        <li>Open <a href="http://t.me/telegraph?start=true" target="_blank">@Telegraph</a> bot.</li>
        <li>Select a Telegraph account.</li>
        <li>Click on <b>Log in as <i>AccountName</i> on this device.</b></li>
        <li>After, go to <a href="http://edit.telegra.ph" target="_blank">http://edit.telegra.ph</a></li>
        <li>Press <b>⌘ + ⌥ + I or F12.</b></li>
        <li>Copy Telegraph token from cookies.</li>
      </ul>
      <a href="/images/screen1.png" target="_blank">
        <img src="/images/screen1.png" class="screen" />
      </a>
      <div class="screen-text">Select Application tab.</div>
      <a href="/images/screen2.png" target="_blank">
        <img src="/images/screen2.png" class="screen" />
      </a>
      <div class="screen-text">Open cookies for <b>edit.telegra.ph</b>.</div>
      <a href="/images/screen3.png" target="_blank">
        <img src="/images/screen3.png" class="screen" />
      </a>
      <div class="screen-text">Copy cookie value <b>tph_token</b>.</div>
    </div>
    <div id="input-box">
      <input type="text" id="token-value" placeholder="Paste value here" />
    </div>
    <button id="save" onclick="CStudio.onSaveAccountInfo(true);">Save</button>
  </div>
</div>