<div class="popup-window" id="popup-studio-landing">
  <div id="shadow" onclick="Popup.close()"></div>
  <div id="box">
    <div id="cover">
      
    </div>
    
    <h2 id="title">Telegram <span>bot</span></h2>
    <div id="description">
      Publish your material via Telegram simply and quickly. Also, the materials you publish will be available in the creative studio!
    </div>

    <div id="bot-link">
      <a href="https://t.me/{{publisherBotUsername}}">
        <button>@{{publisherBotUsername}}</button>
      </a>
    </div>
    <a href="https://t.me/{{publisherBotUsername}}?start=auth" class="link">Log in with TelegramID</a>
  </div>
</div>