html, body {
  padding: 0px;
  margin: 0px;
  background: white;
  font-family: CustomSansSerif, Arial;
  min-height: 100%;
}

.center-content {
  width: 100% - 20px;
  max-width: 750px;
  margin: 10px auto;
  position: relative;
  padding: 0px 10px;
}

.table {
  .td {
    display: inline-block;
    vertical-align: top;
  }
}

#pagination {
  margin-top: 40px;
  text-align: right;

  .butt {
    display: inline-block;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    color: #424242;
    cursor: pointer;
    font-size: 13px;

    &:hover {
      border-bottom: 1px solid #424242;
    }
  }
}


@import "./component-header.less";
@import "./home.less";
@import "./scroll-navbar.less";
@import "./popup-core.less";
@import "./popup-studio-landing.less";
@import "./popup-search-input.less";
@import "./popup-publish-post.less";
@import "./popup-accounts-manager.less";
@import "./popup-account-members.less";
@import "./popup-account-info.less";
@import "./popup-import-telegraph.less";
@import "./popup-author-url.less";
@import "./post.less";
@import "./tune.less";
@import "./author-page.less";
@import "./telegraph-publish.less";
@import "./creative-studio.less";
@import "./contacts.less";
@import "./ui.less";
@import "./mobile.less";
@import "./cssload.css";
@import "./night-mode.less";