#page-author {
  width: 100%;
  max-width: 820px;
  margin: 10px auto;
  margin-top: 50px;

  #left-box, #right-box {
    display: inline-block;
    vertical-align: top;
  }

  #left-box {
    width: 100% - 5px;
    padding-bottom: 10px;
    margin: 10px;

    a {
      color: black;
      text-decoration: none;
    }

    #dtpfats {
      display: inline-block;
      vertical-align: middle;
      width: 30px;
      height: 30px;
      border-radius: 100%;
      background-color: rgb(240, 240, 240);
      background-image: url(/images/dtpfast.png);
      background-size: cover;
      background-position: center;
      margin-right: 10px;
    }

    #author-name {
      display: inline-block;
      vertical-align: middle;
      font-size: 30px;
      text-align: center;
      font-weight: 700;
      color: black;
      word-wrap: break-word;
    }
  
    #username {
      display: inline-block;
      vertical-align: top;
      text-align: center;
      font-size: 15px;
      position: relative;
      top: -2px;
      margin: 5px 0px;
      opacity: 0.5;
    }
  }

  #search-box {
    width: 100% - 6.5px;
    margin: 0px 10px;
    border-radius: 2px;
    padding: 10px 5px;
    margin-bottom: 10px;
    background: rgb(243, 243, 243);

    #icon, #input {
      display: inline-block;
      vertical-align: middle;
    }

    #icon {
      margin: 0px 10px;
      img {
        height: 25px;
      }
    }

    #input {
      input {
        background: none;
        padding: 8px;
        outline: none;
        width: 300px;
        font-size: 15px;
        border: none;
      }
    }
  }

  #right-box {
    width: 100% - 10px;
    min-height: 400px;

    @import (multiple) "./component-posts-list.less";

    #list {
      margin: 10px auto;
      padding: 0px 15px;
      margin-top: 11px;
    }
  }

}