#followingBallsG{
	position:relative;
	width:77px;
	height:6px;
	margin:auto;
}

.followingBallsG {
	background-color:rgb(0,0,0);
	position:absolute;
	top:0;
	left:0;
	width:6px;
	height:6px;
	border-radius:3px;
		-o-border-radius:3px;
		-ms-border-radius:3px;
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
	animation-name:bounce_followingBallsG;
		-o-animation-name:bounce_followingBallsG;
		-ms-animation-name:bounce_followingBallsG;
		-webkit-animation-name:bounce_followingBallsG;
		-moz-animation-name:bounce_followingBallsG;
	animation-duration:1.3s;
		-o-animation-duration:1.3s;
		-ms-animation-duration:1.3s;
		-webkit-animation-duration:1.3s;
		-moz-animation-duration:1.3s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}

.followingBallsG.night-mode {
	background: white;
}

#followingBallsG_1{
	animation-delay:0s;
		-o-animation-delay:0s;
		-ms-animation-delay:0s;
		-webkit-animation-delay:0s;
		-moz-animation-delay:0s;
}

#followingBallsG_2{
	animation-delay:0.13s;
		-o-animation-delay:0.13s;
		-ms-animation-delay:0.13s;
		-webkit-animation-delay:0.13s;
		-moz-animation-delay:0.13s;
}

#followingBallsG_3{
	animation-delay:0.26s;
		-o-animation-delay:0.26s;
		-ms-animation-delay:0.26s;
		-webkit-animation-delay:0.26s;
		-moz-animation-delay:0.26s;
}

#followingBallsG_4{
	animation-delay:0.39s;
		-o-animation-delay:0.39s;
		-ms-animation-delay:0.39s;
		-webkit-animation-delay:0.39s;
		-moz-animation-delay:0.39s;
}


@keyframes bounce_followingBallsG{
	0%{
		left:0px;
	}

	50%{
		left:71px;
	}

	100%{
		left:0px;
	}
}

@-o-keyframes bounce_followingBallsG{
	0%{
		left:0px;
	}

	50%{
		left:71px;
	}

	100%{
		left:0px;
	}
}

@-ms-keyframes bounce_followingBallsG{
	0%{
		left:0px;
	}

	50%{
		left:71px;
	}

	100%{
		left:0px;
	}
}

@-webkit-keyframes bounce_followingBallsG{
	0%{
		left:0px;
	}

	50%{
		left:71px;
	}

	100%{
		left:0px;
	}
}

@-moz-keyframes bounce_followingBallsG{
	0%{
		left:0px;
	}

	50%{
		left:71px;
	}

	100%{
		left:0px;
	}
}