
#case {
  margin-top: 100px;
  font-size: 25px;
  font-weight: 600;
  position: relative;

  img, span {
    display: inline-block;
    vertical-align: middle;
  }

  img {
    height: 25px;
  }

  #right-icons {
    position: absolute;
    top: 0px;
    right: 5px;
    display: inline-block;

    a {
      color: black;
      text-decoration: none;
    }

    a#trending-elem {
      display: none;
    }

    .item {
      cursor: pointer;

      img {
        display: inline-block;
        vertical-align: middle;
        height: 20px;
      }

      span {
        display: inline-block;
        vertical-align: middle;
        font-size: 13px;
        font-weight: 400;
        text-transform: uppercase;
      }

      &:hover {
        span {
          text-decoration: underline;
        }
      }
    }
  }
}

#content {
  margin-top: 25px;

  @import (multiple) "./component-posts-list.less";

  #buttons {
    .button {
      display: inline-block;
      vertical-align: middle;
      font-weight: 600;
      font-style: normal;
      letter-spacing: -1px;
      font-size: 17px;
      color: #000;
      text-decoration: none;
      border: 2px solid #333;
      border-radius: 16px;
      text-transform: uppercase;
      padding: 4px 12px;
      margin: 0 0 20px;
      margin-right: 10px;
      background-color: #fff;
      cursor: pointer;

      img {
        height: 14px;
        vertical-align: middle;
      }

      span {
        vertical-align: middle;
      }
    }
  }

}

#hash-tags-box {
  margin-bottom: -80px;
}

#latest-posts {
  #paste-telegraph {
    text-align: center;
    margin-top: 25px;

    input {
      outline: none;
      border: none;
      padding: 10px 2px;
      width: 100%;
      font-size: 12px;
      border-bottom: 3px solid black;
      background: none;
    }

  }

  #list {
    margin-top: 10px !important;
  }
}

#hash-tags-box, #latest-posts {
  margin-top: 100px;
  margin-left: 36px;
  position: relative;
  right: -10px;
  vertical-align: top;
  width: 100% - 10px;
  padding: 5px;
  max-width: 180px;
  // background: #333;

  #title {
    font-size: 25px;
    font-weight: 600;
    text-align: right;
    letter-spacing: -2px;
    text-transform: uppercase;
  }

  #list {
    margin-top: 25px;
    overflow: hidden;

    .tag {
      cursor: pointer;
      display: inline-block;
      vertical-align: middle;
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      opacity: 0.5;

      &:hover {
        text-decoration: underline;
        opacity: 1;
      }

      &:nth-child(3n) {
        font-weight: 600;
        font-size: 20px;
        padding: 3px;
      }

      &:nth-child(4n) {
        float: right;
      }
    }

    a {
      color: black;
      text-decoration: none;

      &:hover {
        #tit {
          text-decoration: underline;
        }
      }
    }

    .post {
      margin: 13px 0px;

      #tit {
        font-weight: 700;
        font-size: 14px;
        word-wrap: break-word;
      }

      #widgets {
        margin-top: 2px;
        overflow: hidden;
    
        .widget {
          margin-right: 5px;
          vertical-align: middle;
          display: inline-block;
    
          img {
            // margin-right: 5px;
            height: 15px;
            opacity: 0.5;
            vertical-align: middle;
          }
    
          span {
            vertical-align: middle;
            opacity: 0.5;
            font-weight: 600;
            font-size: 13px;
          }
        }
    
        .right {
          float: right;
        }
      }
    }
  }
}

#home-content {
  min-height: 100%;
}

#home-footer {
  margin-top: 55px;
  border-top: 1px solid #e8e8e8;
  padding: 25px 0px;

  #lf {
    max-width: 228px;
    margin-bottom: 20px;
  }

  .tit {
    font-weight: 700;
  }

  .desc {
    opacity: 0.5;
    padding-top: 5px;
  }

  a {
    padding: 10px;
    padding-left: 0px;
    color: black;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  span.point {
    padding: 10px;
    padding-left: 0px;
    color: black;
  }
}
