@media screen and (max-width: 800px) {
  #page-post {
    .main-title {
      margin-top: 25px;
    }

    #footer {
      #rate {
        display: block;
      }

      #meta {
        float: left;
        display: block;
        margin-top: 10px;
        text-align: left;

        #author-name, #time {
          text-align: left;
          padding: 5px 20px;
        }
      }
    }
  }

  #header {
    #right-side {
      right: 13px;
    }
  }

  #list {
    #empty-posts {
      width: 100% !important;
    }
  }

  .table.center-content {
    .td {
      display: block;
    }

    #content {
      #list {
        min-width: 100%;
      }
    }
  }

  #page-author {
    #right-box {
      #list {
        min-width: 100%;
      }

      #empty-posts {
        width: 100% !important;
      }
    }

    #left-box {
      #dtpfats, #author-name, #username {
        display: block;
      }

      #dtpfats {
        margin: 10px auto;
      }
    }
  }

  #popup-studio-landing {
    #box {
      #description {
        text-align: center;
      }
    }
  }

  #creative-studio-page {
    width: 100%;
    overflow: hidden;

    #header-cs {
      width: 100%;
      left: 0px;
      right: 0px;
      overflow: hidden;

      text-align: left;

      .button {
        margin-left: 13px;
      }

      #text-butt {
        right: 35px;

        .butt {
          padding: 10px 5px;
          background: transparent !important;
        }
      }
    }

    #table-cs {
      margin-top: 10px;

      #menu {
        width: 100%;
      }

      #cs-content {
        width: 100%;
      }

      #cpanel {
        width: 100% !important;
        margin: 0 auto !important;

        #search-box {
          display: block;
          width: 100% !important;

          #search-img {
            display: none !important;
          }

          #post-search {
            width: 200px !important;
          }
        }

        #right-side {
          a {
            &:hover {
              background: transparent !important;
              text-decoration: underline !important;
            }
          }
        }
      }

      #account-title {
        padding: 5px;

        #data {
          margin-left: 20px !important;
          top: 0px !important;
          display: block !important;
        }
      }

      #list {
        #to-select {
          #text {
            padding: 5px 35px !important;
          }
        }

        .post {
          #manage {
            a {
              margin: 2px 2px !important;
              display: inline-block !important;
            }
          }
        }
      }
    }
  }

  #popup-accounts-manager {
    #list {
      .item {
        #manage {
          position: relative;
          top: 0px;
          left: 5px;
          right: 0px;
          bottom: 0px;
        }
      }
    }
  }

  #popup-account-info {
    #form {
      .data {
        #tit {
          text-align: left;
          padding: 5px 2px;
        }

        #input {
          margin-left: 0px;
        }
      }
    }
  }

  #popup-account-members {
    #list {
      .item {
        #manage {
          position: relative;
          top: 0px;
          left: 5px;
          right: 0px;
          bottom: 0px;
        }
      }
    }

    button#invite, button#edit {
      display: block;
    }

    button#edit {
      margin-top: 5px;
    }
  }

  #scroll-navbar {
    display: none;

    .butt {
      width: 100px;
      opacity: 0.9;
      background: rgb(240, 240, 240);
      bottom: 10px;
      top: auto;
      border-radius: 50px;
      padding: 10px;
    }

    .up {
      left: 10px;
    }

    .down {
      right: 10px;
    }
  }

  .main-container {
    padding-bottom: 50px;
  }

  #home-content {
    #hash-tags-box, #latest-posts {
      max-width: 100% - 10px !important;
      margin-left: 0px;
      right: 0px;

      #title {
        text-align: left;
      }

    }
  }

}