#pages {
  padding: 25px 10px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 100px;

  .default {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
  }

  .page {
    display: none;
  }
}