#popup-accounts-manager {
  display: none;
  z-index: 20;
  font-family: Arial;

  #box {
    overflow: auto;
    padding: 10px 20px;
  }

  #title {
    text-align: center;
  }

  #list {
    margin-bottom: 10px;
    min-height: 100px;

    #empty-accounts {
      text-align: center;
      color: #4b422f;
      line-height: 25px;

      div {
        max-width: 370px;
        margin: 0 auto;
      }

      img {
        height: 250px;
        margin-bottom: 10px;
      }
    }

    .item {
      cursor: pointer;
      padding: 10px 20px;
      border-radius: 4px;
      position: relative;

      #text-photo {
        display: inline-block;
        vertical-align: middle;
        width: 45px;
        height: 30px;
        padding-top: 15px;
        border-radius: 100%;
        background: #f1ab7b;
        color: white;
        text-transform: uppercase;
        text-align: center;
      }

      #right {
        display: inline-block;
        vertical-align: middle;
        max-width: 200px;
      }

      #name {
        display: inline-block;
        vertical-align: middle;
        max-width: 290px;
        margin-left: 10px;
        font-weight: 700;
      }

      #manage {
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        top: 23px;
        right: 20px;

        a {
          color: #3c9bd6;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      &:hover {
        background: #f1f1f1;
      }

      &:nth-child(2n) {
        #text-photo {
          background: #6fabdb;
        }
      }
      
      &:nth-child(3n) {
        #text-photo {
          background: #a09de5;
        }
      }
    }
  }

  button#create {
    display: block;
    border: none;
    padding: 8px 20px;
    text-transform: uppercase;
    cursor: pointer;
    color: #348ccf;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
    background: white;

    &:hover {
      background: #e5f1f9;
    }
  }
}