#popup-search-input {
  display: none;

  #shadow {
    background: rgba(0, 0, 0, 0.8);
  }

  #box {
    background: none;
    min-height: 77px !important;
    box-shadow: none;

    #query {
      border: none;
      background: none;
      border-bottom: 2px solid rgb(148, 148, 148);
      padding: 10px;
      outline: none;
      color: white;
      width: 100%;
      font-size: 23px;
    }
  }
}