#popup-account-info {
  display: none;
  z-index: 40;
  font-family: Arial;

  #box {
    overflow: auto;
    padding: 10px 20px;
  }

  #title {
    text-align: center;
  }

  #form {
    margin-top: 30px;
    margin-bottom: 20px;

    .data {
      padding: 5px 0px;

      #tit, #input, #sett-butt {
        display: inline-block;
        vertical-align: middle;
      }

      #tit {
        opacity: 0.7;
        font-weight: 700;
        width: 125px;
        font-size: 12px;
        text-align: right;
        text-transform: uppercase;
      }

      #input {
        margin-left: 10px;

        input {
          width: 240px;
          outline: none;
          border: none;
          padding: 7px;
          font-size: 16px;
          background: #f3f3f3;
          border-radius: 4px;
          border-bottom: 2px solid transparent;

          &:focus {
            border-bottom: 2px solid #e2e2e2;
          }
        }
      }

      #sett-butt {
        background: #f3f3f3;
        padding: 8px;
        cursor: pointer;
        border-radius: 4px;
        font-size: 13px;
        border-bottom: 2px solid transparent;

        &:hover {
          color: #348ccf;
          border-bottom: 2px solid #e2e2e2;
        }
      }

      &:nth-child(3) {
        #input input {
          width: 204px;
        }
      }
    }
  }

  #import-description {
    font-size: 14px;
    opacity: 0.5;
    text-align: center;
    padding: 5px;

    span {
      cursor: pointer;
      color: #348ccf;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  button#save {
    display: block;
    border: none;
    padding: 8px 20px;
    text-transform: uppercase;
    cursor: pointer;
    color: #348ccf;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 700;
    margin: 20px auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background: white;

    &:hover {
      background: #e5f1f9;
    }
  }
  
}