#page-post {
  width: 100%;
  max-width: 732px;
  margin: 0 auto;
  
  .iframe_wrap {
    max-width: 100%;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    margin: 15px 0px;

    iframe {
      position: absolute;
      min-width: 100%;
      min-height: 100%;
      top: 0;
      left: 0;
      max-width: 100%;
      vertical-align: top;
    }
  }
  
  &, & * {
    word-wrap: break-word;
  }

  #panel {
    padding: 20px 20px;
    overflow: hidden;
    text-align: left;

    a {
      font-size: 30px;
      font-weight: 700;
      padding-right: 5px;
      color: black;
      text-decoration: none;
      
      &:hover {
        text-decoration: underline;
      }
    }

    .l-nm {
      opacity: 0.2;
      font-size: 14px;
      vertical-align: top;
    }

    .l-origin {
      float: right;
      font-size: 14px;
      opacity: 0.2;
    }
  }

  .main-title {
    display: block;
    font-size: 30px;
    padding: 5px 20px;
    margin-top: 50px;
    letter-spacing: 0px;
  }

  #content {

    h4, h4 a {
      white-space: pre-wrap;
      font-size: 24px;
      margin: 18px 21px;
      font-weight: 700;
      font-style: normal;
      line-height: 1.58;
      color: rgba(0,0,0,.8);
    }

    h3, h3 a {
      white-space: pre-wrap;
      font-weight: 700;
      font-style: normal;
      font-size: 28px;
      margin: 18px 21px 9px;
      line-height: 1.58;
      color: rgba(0,0,0,.8);
    }

    h4 a, h3 a {
      margin: 0px !important;
    }

    video {
      display: block;
      margin: 0 auto;
      transition: opacity .15s ease;
      max-width: 100%;
      max-height: 690px;
      text-align: center;
    }

    figure {
      margin: 0px;
      padding: 0px;
    }

    img {
      display: block;
      margin: 0 auto;
      opacity: 1;
      transition: opacity .15s ease;
      max-width: 100%;
      max-height: 690px;
      margin: 20px auto;
    }

    p {
      white-space: pre-wrap;
      margin: 0 21px 12px;
      padding: 0;
      font-weight: 200;
      font-style: normal;
      font-size: 18px;
      line-height: 1.58;
      color: rgba(0,0,0,.8);
    }

    a {
      white-space: pre-wrap;
      color: inherit;
      -webkit-tap-highlight-color: rgba(0,0,0,.44);
      text-decoration: none;
      border-bottom: .1em solid rgba(0,0,0,.7);
      font-weight: 400;
      font-style: normal;
      font-size: 18px;
      line-height: 1.58;
      cursor: pointer;
    }

    code {
      white-space: pre-wrap;
      padding: 1px 3px;
      font-size: 16px;
      background: #F5F8FC;
      line-height: 1.58;
      color: rgba(0,0,0,.8);
    }

    ol {
      white-space: pre-wrap;
      padding: 0;
      margin: 21px;
      font-weight: 400;
      font-style: normal;
      font-size: 18px;
      line-height: 1.58;
      list-style: none;
      counter-reset: list;

      li {
        margin-left: 30px;
        margin-bottom: 14px;
        padding: 0;
        counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
        counter-increment: list-num;
        display: list-item;

        &::before {
          margin-left: -1.5em;
          padding-right: 12px;
          counter-increment: list;
          content: counter(list) '.';
          font-size: 18px;
        }
      }
    }

    ul {
      white-space: pre-wrap;
      padding: 0;
      margin: 21px;
      font-weight: 400;
      font-style: normal;
      font-size: 18px;
      line-height: 1.58;

      li {
        margin-left: 30px;
        margin-bottom: 14px;
        padding: 0;
        position: relative;
        list-style: none;
        counter-reset: list;

        &::before {
          padding: 1px 15px 0 0;
          content: '\2022';
          position: absolute;
          display: inline-block;
          box-sizing: border-box;
          left: -25px;
          // margin: 0 0 0 -78px;
          // text-align: right;
          // margin-left: -1.5em;
        }
      }
    }

    blockquote {
      margin: 18px 21px;
      padding: 5px 17px;
      position: relative;
      border-left: 4px solid black;
      font-style: italic;
      font-size: 17px;
      line-height: 1.58;
      color: rgb(63, 63, 63);
    }

    strong {
      font-style: normal;
      font-size: 18px;
      line-height: 1.58;
      color: rgba(0,0,0,.8);
    }

    pre {
      margin: 14px 0;
      padding: 7px 21px;
      font-size: 16px;
      background: #F5F8FC;
      color: rgba(0,0,0,.8);
      font-weight: 400;
      font-style: normal;
      white-space: pre-wrap;
      word-wrap: break-word;
    }

    figcaption {
      display: block;
      opacity: 0.7;
      padding: 12px 21px;
      line-height: 18px;
      text-align: center;
      font-weight: 600;
    }

    aside { 
      font-size: 21px;
      color: rgba(0,0,0,.6);
      margin: 18px 21px 16px;
      padding: 0 18px;
      text-align: center;
      font-style: italic;

      strong {
        font-style: italic;
        color: rgba(0,0,0,.6);
      }
    }
  }

  #footer {
    margin-top: 20px;
    overflow: hidden;
    margin-bottom: 15px;
  }

  #rate {
    display: inline-block;
    vertical-align: middle;
    opacity: 0.7;

    #title {
      text-transform: uppercase;
      margin: 10px 20px;
      font-weight: 700;
      
      a {
        color: #3ba4e0 !important;
  
        &:hover {
          text-decoration: underline !important;
        }
      }
    }

    a {
      text-decoration: none;
    }

    .rate-button {
      display: inline-block;
      font-weight: 600;
      font-style: normal;
      letter-spacing: -1px;
      font-size: 17px;
      color: #000;
      text-decoration: none;
      border: 2px solid #333;
      border-radius: 16px;
      text-transform: uppercase;
      padding: 4px 14px;
      margin-top: 10px;
      margin-left: 20px;
      background-color: #fff;
      cursor: pointer;
      
      &#r-yes:hover {
        background: #389eda;
        color: white;
        border-color:#389eda;
      }

      &#r-no:hover {
        background: #e9564e;
        color: white;
        border-color: #e9564e;
      }
    }

    #description {
      margin: 10px 20px;
      font-size: 13px;
      opacity: 0.6;
    }

    @media screen and (max-width: 800px) {
      #description {
        max-width: 160px;
      }
    }
  }

  #meta {
    margin-top: 10px;
    margin-right: 10px;
    float: right;
    display: inline-block;
    vertical-align: middle;

    a {
      color: black;
      text-decoration: underline;

      &:hover {
        color: rgba(0, 0, 0, 0.685);
      }
    }

    #author-name, #time {
      text-align: right;
      padding: 2px;
    }

    #author-name {
      max-width: 260px;
      word-wrap: break-word;
      font-size: 17px;
      font-weight: 700;
    }

    #time {
      opacity: 0.5;
      font-style: italic;
    }
  }
}
