#scroll-navbar {
  .butt {
    position: fixed;
    top: 0px;
    bottom: 0px;
    vertical-align: middle;
    width: 120px;
    cursor: pointer;
    text-align: center;
    padding-top: 38px;
    opacity: 0;

    &:hover {
      opacity: 1;
    }
  }

  .up {
    left: 0px;
  }

  .down {
    display: none;
    right: 0px;
  }
}