#page-telegraph-publish {
  width: 100%;
  max-width: 720px;
  margin: 0px auto;
  padding-top: 20px;
  
  #post-cover {
    width: 280px;
    height: 280px;
    background-size: cover;
    background-position: center;
    margin: 15px auto;
    border-radius: 100%;
  }

  h2#title {
    text-align: center;
    font-family: Arial;
  }

  h3#description {
    opacity: 0.5;
    text-align: justify;
    font-family: Arial;
    margin: 5px 15px;
    font-weight: 200;
    font-size: 15px;
  }

  #settings {
    text-align: center;
    margin: 25px 10px;

    button, a {
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      margin: 5px;
    }

    button {
      border: none;
      border-radius: 4px;
      background: #4872a7;
      color: white;
      padding: 10px 15px;
      font-size: 15px;

      &:hover {
        opacity: 0.9;
      }
    }

    a {
      color: #4872a7;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}