#page-tune {
  width: 100%;
  max-width: 520px;
  margin: 15px auto;

  #panel {
    margin: 20px 15px;
    text-align: center;

    .button {
      padding: 10px;
      cursor: pointer;
      display: inline-block;
      vertical-align: middle;
      position: relative;

      a {
        text-decoration: none;
        color: black;
        display: inline-block;
        vertical-align: middle;
      }

      img {
        height: 30px;
        opacity: 0.8;
        display: inline-block;
        vertical-align: middle;
      }

      &:hover {
        img {
          opacity: 1;
        }
      }
    }   
  }

  #title {
    font-size: 35px;
    padding: 15px 25px;
    font-weight: 700;
  }

  #user-name {
    padding: 0px 25px;
  }

  #box {
    margin-top: 50px;

    .item {
      margin-bottom: 25px;

      #title {
        padding-bottom: 0px;
      }

      #content {
        padding: 0px 25px;
        margin-top: 15px;

        .lang, .word {
          display: inline-block;
          padding: 5px 2px;
          cursor: pointer;
          font-size: 19px;

          &:nth-child(3n) {
            font-size: 25px;
          }
          
          &:nth-child(4n) {
            text-transform: uppercase;
          }

          &:hover, &.hover {
            opacity: 0.7;
            text-decoration: underline;
          }
        }

        #input {
          width: 100%;

          input {
            border: none;
            display: block;
            width: 100%;
            max-width: 400px;
            padding: 5px;
            padding-left: 0px;
            font-size: 25px;
            outline: none;
            opacity: 0.6;
            background: transparent;

            &::placeholder {
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}