.ui-text-switcher {
  display: inline-block;
  padding: 2px;
  border-radius: 20px;
  background: white;
  border: 2px solid #f3f3f3;

  .butt {
    transition: 0.2s;
    cursor: pointer;
    padding: 8px 20px;
    display: inline-block;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 700;

    &:hover {
      color: #2b88cc;
    }

    &.active {
      background: #f3f3f3;
    }
  }
}